ul{
  margin: 50px auto;
  background-color: #333;
  color: #fff;
  width: 80%;
  padding: 0;
  li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.header{
      background-color: rgb(15, 15, 15);
    }
    & > * {
      width: 16.6%;
    }
  }
}
